/* TherapistDashboard.module.css */
.dashboardContainer {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messageList {
  list-style-type: none;
  padding: 0;
}

.messageItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
}


/* TherapistDashboard.module.css */
.dashboardContainer {
  padding: 20px;
}

.dashboardHeading {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
}
